<!DOCTYPE html>
<html>
<title>List Information</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<header>
    <h1><b>List Inofrmation</b></h1>
</header>

<div>
    <p> List Name: {{list_json.name}} </p>
    <p> List Author: {{list_json.author}} </p>
    {{!-- <p> {{list_json.cardsInfo}} </p> --}}

    <div class="cardss">
    {{#each list_json.cardsInfo}}
        <div class="card">
            <p><b>{{@key}}</b></p>
            <p>{{this}}</p>
        </div>
    {{/each}}
    </div>

</div>

<script>
</script>

</body>
</html>
