<!DOCTYPE html>
<html>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/w3.css">

<body class="w3-light-grey w3-content" style="max-width:1600px">
  <!--add list form-->
  <div class="hiddenForm" id="hiddenForm">
    <div class="add-form">
      <form action="/lists" method="post">
        <div class="form-group">
          <button class="lastnext" type="button">
            <img class="exitButton" id="close" src="/images/closeButton.svg" height="50" width="50" onclick="div_hide()">
          </button>
        </div>
        <h2>Add a new list</h2>
        <div class="form-group">
          <div class="row">
            <div class="form-group">
              <label for="word">List Name:</label>
              <input type="text" class="form-control" id="newlist" placeholder="new list" name="list_name">
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label for="definition">Description:</label>
              <!-- <input type="text" class="form-control definition" id="definition"> -->
              <textarea id="definition" class="form-control" rows="6" cols="10" charswidth="24" placeholder="some new words" name="description"></textarea>
            </div>
          </div>

        </div>

        <button onclick="submit()" class="checked">
          <img src="/images/checked.png" height="70" width="70" class="pic">
        </button>

      </form>
    </div>
  </div>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
    <br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <img src="/images/profile.png" style="width:45%;" class="w3-round">
      <br>
      <br>
      <h4>
        <b>{{userinfo.username}}</b>
      </h4>
      <p class="w3-text-grey">{{userinfo.email}}</p>
    </div>
    <div class="w3-bar-block">
      <a href="/profile" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
        <i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
      <a href="/about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">
        <i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
      {{!-- <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">
        <i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a> --}}
    </div>
  </nav>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
      <div class="w3-container">
        <h1>
          <b>{{title}}</b>
        </h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          {{!--
          <span class="w3-margin-right">Switch:</span> --}}
          <button class="w3-button w3-black" onclick="div_show()">Add List</button>
          <button class="w3-button w3-black" onclick="window.location.href='/logout'">Logout</button>
          {{!--
          <button class="w3-button w3-white">ALL Cards</button> --}}
        </div>
      </div>
    </header>

    <!-- First Photo Grid-->
    <div id="first_grid" class="w3-row-padding">
      <div class="w3-row-padding">
      </div>


      {{!-- <!-- Footer -->
      <footer class="w3-container w3-padding-32 w3-dark-grey">
        <p>Team One Punch Man: Gaojie Li, Zheng Li, Tianye Qi, Hanrun Li</p>
      </footer> --}}

      <!-- End page content -->
    </div>

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }

      jsonLists = {{{ json listsInfo }}};

    </script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
    <script src="/javascripts/home_lists.js"></script>

</body>

<script>
  function div_show() {
    //alert("button has been clicked");
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById('hiddenForm').style.display = "block";
    // alert("This is valid");
  }

  function div_hide() {
    document.getElementById('hiddenForm').style.display = "none";
    document.getElementById('mySidebar').style.display = "block";
  }
</script>

</html>